.heartOuter {
    position: relative;
    width: 58px;
    height: 50px;
}

.heartHeart, .spreadHeartHeart {
    position: absolute;
}

.heartHeart:nth-of-type(1) {
    z-index: 6;
    top: 31px;
    left: 4px;
}

.heartHeart:nth-of-type(2) {
    z-index: 5;
    left: 6px;
    top: 24px;
}

.heartHeart:nth-of-type(3) {
    z-index: 4;
    left: 7px;
    top: 18px;
}

.heartHeart:nth-of-type(4) {
    z-index: 3;
    left: 9px;
    top: 12px;
}

.heartHeart:nth-of-type(5) {
    z-index: 2;
    left: 4px;
    top: 6px;
}

.heartHeart:nth-of-type(6) {
    z-index: 1;
}

.spreadHeartOuter {
    position: relative;
    width: 100px;
    height: 103px;
}

.spreadHeartHeart:nth-of-type(1) {
    z-index: 6;
    top: 87px;
    left: 0px;
}

.spreadHeartHeart:nth-of-type(2) {
    z-index: 5;
    left: 25px;
    top: 72px;
}

.spreadHeartHeart:nth-of-type(3) {
    z-index: 4;
    left: 8px;
    top: 48px;
}

.spreadHeartHeart:nth-of-type(4) {
    z-index: 3;
    left: 41px;
    top: 35px;
}

.spreadHeartHeart:nth-of-type(5) {
    z-index: 2;
    left: 14px;
    top: 12px;
}

.spreadHeartHeart:nth-of-type(6) {
    z-index: 1;
    right: -4px;
}

.tabWrapperOuter {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.tabWrapperContent {
    width: 100vw;
    flex-grow: 1;
    overflow-y: auto;
}

.tabWrapperNavOuter {
    height: 50px;
    flex-shrink: 0;
    position: relative;
    background-color: #f9e5ee;
    display: flex;
    justify-content: center;
    z-index: 4;
}

.tabWrapperNavInner {
    width: 260px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -25px;
}